In [ ]:
#Creating Simple Decision Tree from Salary.csv

In [4]:
import pandas as pd

In [7]:
df= pd.read_csv('salary.csv')

In [9]:
df.shape

(16, 4)

In [10]:
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [15]:
X = df.drop('salary_more_then_100k',axis=1)
X.head()

  company                  job     degree
0  google      sales executive  bachelors
1  google      sales executive    masters
2  google     business manager  bachelors
3  google     business manager    masters
4  google  computer programmer  bachelors

In [16]:
target=df['salary_more_then_100k']
target.head()

0    0
1    0
2    1
3    1
4    0
Name: salary_more_then_100k, dtype: int64

In [20]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
#convert all data into labels

In [21]:
le_company = LabelEncoder()
le_job=LabelEncoder()
le_degree=LabelEncoder()

In [24]:
X['company_n']=le_company.fit_transform(X['company'])
X['job_n']=le_job.fit_transform(X['job'])
X['degree_n']=le_degree.fit_transform(X['degree'])

X.head()

  company                  job     degree  company_n  job_n  degree_n
0  google      sales executive  bachelors          2      2         0
1  google      sales executive    masters          2      2         1
2  google     business manager  bachelors          2      0         0
3  google     business manager    masters          2      0         1
4  google  computer programmer  bachelors          2      1         0

In [27]:
X_new=X.drop(['company','job','degree'],axis=1)
X_new.head()

   company_n  job_n  degree_n
0          2      2         0
1          2      2         1
2          2      0         0
3          2      0         1
4          2      1         0

In [37]:
#import libraries for Decision Tree
from sklearn import tree
model=tree.DecisionTreeClassifier()

In [31]:
model.fit(X_new,target)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [32]:
model.score(X_new,target)

1.0

In [35]:
model.predict([[2,2,1]])

array([0], dtype=int64)

In [36]:
model.predict([[2,0,1]])

array([1], dtype=int64)